@{
    ViewData["Title"] = "Customers";
}

<style>
    #Input_Style {
        margin: 5px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary">Create Customer</button>
        <br />
        <br />
        <table style="width:100%" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Zip Code</th>
                    <th>City</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Michael</td>
                    <td>Sava</td>
                    <td>Kantatgatan 8</td>
                    <td>215 70</td>
                    <td>Malmö</td>
                    <td>miki@mail.com</td>
                    <td>0708-111 222</td>
                    <td>
                        <div>
                            <button id="Input_Style" type="button" class="btn btn-secondary">Edit</button>
                            <button id="Input_Style" type="button" class="btn btn-secondary">Details</button>
                            <button id="Input_Style" type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>