@*@{
    Layout = "_LayoutBackOffice";
}
*@

<p>
    Welcome to the Snurrtumlare AB BackOffice. You can access the following areas:
    <ul>
        <li>
            Customers: view customer, create new customer & delete existing customer
        </li>
        <li>
            Orders: view a list of all orders, view customer specific orders, mark active order as delievered
        </li>
        <li>
            Products: view a list of all available products, create new product, update existing product, delete existing product
        </li>
        <li>
            Profile: view your BackOffice user details, change your user password
        </li>
    </ul>

    Please contact your <a href="mailto:sysadmin@snurrtumlare.se">system administrator</a> if you run into errors or have questions. 
</p>