@model IEnumerable<SnurrtumlareWebSite.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br />
            <table style="width:100%" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>User Id</th>
                        <th>User Name</th>
                        <th>User Email</th>
                        <th>Product</th>
                        <th>Total Cost</th>
                        <th>Is Delivered</th>
                    </tr>
                </thead>

                <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@foreach (var row in order.OrderRows)
                            {
                                @row.Product
                            }
                            </td>  @{/*TODO: Fixa med en foreach loop*/ }
                        <td>
                            <div class="form-check-inline">
                                <button id="Input_Style" type="button" class="btn btn-secondary btn-sm">Edit</button>
                                <button id="Input_Style" type="button" class="btn btn-secondary btn-sm">Details</button>
                                <button id="Input_Style" type="button" class="btn btn-danger btn-sm">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
         </div>
    </div>
</div>