@model IEnumerable<SnurrtumlareWebSite.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary">Add new Product</button>
            <br />
            <br />
            <table style="width:100%" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Description</th>
                        <th>Amount in Stock</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var product in Model)
                    {
                        @if (Model.Count() == 0)
                        {
                            <tr><td><h3>Inga produkter hittades..</h3></td></tr>
                        }
                        else 
                        {
                            <tr>
                                <td>@product.ProductId</td>
                                <td>@product.ProductName</td>
                                <td>@product.ProductDescription</td>
                                <td>@product.AmountInStock</td>
                                <td>
                                    <div class="form-check-inline">
                                        <button id="Input_Style" type="button" class="btn btn-secondary btn-sm">Edit</button>
                                        <button id="Input_Style" type="button" class="btn btn-secondary btn-sm">Details</button>
                                        <button id="Input_Style" type="button" class="btn btn-danger btn-sm">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>