@{
    ViewData["Title"] = "Products";
}


<style>
    #Input_Style {
        margin: 5px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary">Add new Product</button>
        <br />
        <br />
        <table style="width:100%" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Amount in Stock</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Propeller keps 1</td>
                    <td>En riktigt jävla snygg propeller keps</td>
                    <td>5st</td>
                    <td>
                        <div class="form-check-inline">
                            <button id="Input_Style" type="button" class="btn btn-secondary">Edit</button>
                            <button id="Input_Style" type="button" class="btn btn-secondary">Details</button>
                            <button id="Input_Style" type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>