@{
    ViewData["Title"] = "Profile";
}

<style>
    #Input_Style {
        margin: 5px;
    }
</style>

<div class="row">
    <div class="col-md-12">
            <br />
        <table style="width:100%" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Password</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>miki@mail.com</td>
                    <td>mypassword</td>
                    <td>
                        <div>
                            <button id="Input_Style" type="button" class="btn btn-secondary">Edit</button>
                            <button id="Input_Style" type="button" class="btn btn-secondary">Details</button>
                            <button id="Input_Style" type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>