/* Main Layout */
/* -------------------- */
body {
    margin: 0px;
    padding: 0px;
    background-color: #f7f7f7;
}

header {
    width: 100%;
    background-color: #f5b553;
    margin: 0px;
}

footer {
    background-color: #f5b553;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer_table {
    height: 40px;
    width: 80%;
    margin: auto;
    color: #f7f7f7;
    margin-top: 20px;
    font-family: Verdana;
    font-size: 12px;
}

#footer_link_list {
    float: right;
}

#footer_link_list_item {
    display: inline;
}

#footer_link {
    color: #f7f7f7;
}

    #footer_link:hover {
        color: #854836;
        text-decoration: none;
    }
/* ------------------------------ */



.logo_search_cart {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#logo {
    width: 25%;
    float: left;
}

#cart {
    float: right;
    margin-top: 10px;
}

#search_bar {
    border-radius: 5px;
    width: 35%;
    height: 30px;
    margin: auto;
    margin-left: 100px;
    margin-top: 10px;
    vertical-align: central;
    font-size: 15px;
    opacity: 70%;
}
/* ------------------------------ */


/* MAIN CONTENT */
/* ------------------------------ */
.main_wrapper {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

article {
    width: 80%;
    margin: auto;
}
/* ------------------------------ */


/* NAVBAR */
/* ------------------------------ */
nav {
    width: 100%;
    min-width: 500px;
    margin: auto;
}

#navbar_list {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    width: 55%;
    min-width: 500px
}

#navbar_item {
    display: inline;
    width: min-content;
}

#navbar_link {
    color: #f7f7f7;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    float: left;
    margin: 10px;
    font-family: Verdana;
    font-weight: bold;
}

#check_mark {
    width: 14px;
}

#navbar_item a:hover {
    color: #854836
}
/* ------------------------------ */


/* INFORMATION BAR */
/* ------------------------------ */
.information_bar {
    width: 80%;
    margin: auto;
    height: 30px;
    color: #f7f7f7
}

.information_text_left {
    float: left;
    margin-top: 5px;
    font-family: Verdana;
    font-size: 12px;
}

.information_text_right {
    float: right;
    margin-top: 5px;
    font-family: Verdana;
    font-size: 12px;
}

#information_bar_list {
    margin: 0px;
    padding: 0px;
}

#information_bar_list_item_left {
    display: inline;
    margin-right: 12px;
}

#information_bar_list_item_right {
    display: inline;
    margin-left: 12px;
}

#information_bar_link {
    text-decoration: none;
    color: #f7f7f7;
}

    #information_bar_link:hover {
        color: #854836;
    }
/* ------------------------------ */


/* LOGIN LINKS (_LoginPartial) */
/* ------------------------------ */
.navbar-nav {
    display: inline;
}

.nav-item {
    display: inline;
}

.nav-link {
    color: white;
    display: inline;
}

.nav-link:hover {
    color: #854836;
}
/* ------------------------------ */


/* CSS TO SORT AND RENAME */
/* ------------------------------ */

#products_page_wrapper {
    width: 100%;
    margin-top: 40px;
}

#product_image {
    width: 80%;
    border-radius: 15px;
}

#products_list_item {
    list-style: none;
    width: 22%;
    margin: 1%;
    border: 1px solid gray;
    border-radius: 2%;
    padding: 1%;
    text-align: center;
    display: inline-block;
    background-color: whitesmoke;
}

#products_amount_box {
    width: 50px;
}

#products_button_add_to_cart {
    background-color: #f5b553;
    border-radius: 8px;
}

#shopping_cart_table {
    width: 100%;
    margin-top: 3%;
}

#shopping_cart_product_row {
    border: 1px solid gray;
}

#shopping_cart_image {
    float: left;
    border-radius: 180px;
    width: 10%;
    margin: 3%;
}

#shopping_cart_button_remove {
    width: 100px;
    height: 40px;
    border-radius: 8%;
    margin-left: 8%;
}

#shopping_cart_amount_box {
    width: 15%;
    margin-left: 8%;
}

.shopping_cart_cheackout_button {
    background-color: #f5b553;
    width: 13%;
    height: 5%;
    float: right;
    margin: 2%;
    border-radius: 8%;
}

.shopping_cart_reset_button {
    background-color: lightgray;
    width: 13%;
    height: 5%;
    float: right;
    margin: 2%;
    border-radius: 8%;
}

.shopping_cart_button_list_item {
    display: inline;
}

#social_media_display {
    margin: auto;
    text-align: center;
    padding-top: 10%;
}

#social_list_item {
    display: inline;
    margin: 2%;
}

#social_image {
    width: 15%;
}
/* ------------------------------ */


/* OSORTERADE TAGGAR */
/* TODO: Fixa om det finns tid i slutet av projektet*/
/* ------------------------------ */
h2 {
    margin: 5%;
}

img.d-block {
    height: 600px;
}

h3.pos1 {
    text-align: left;
}

h1.pos2 {
    text-align: center;
    padding: 20px 0px 20px 0px;
}

p.pos3 {
    padding: 0px 0px 20px 0px;
}

h1.pos {
    text-align: center;
    padding: 20px 0px 20px 0px;
}

h1.pos1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cs-link:link {
    color: black;
    text-decoration: underline;
}

cs-link:visited {
    color: black;
    text-decoration: none;
}

cs-link:hover {
    text-decoration: none;
}

h1.pos1 {
    padding: 10px;
    margin-top: 20px;
}

h1.pos1 {
    margin-top: 20px;
}

h3.pos1 {
    text-align: left;
}

h1.pos1 {
    padding: 10px;
    margin-top: 20px;
}

h1.pos2 {
    text-align: center;
    padding: 20px 0px 20px 0px;
}

p.pos3 {
    padding: 0px 0px 20px 0px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}