@{
    ViewData["Title"] = "Om Oss";
}
<h1 class="pos1">@ViewData["Title"]</h1>

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <b>Stollarna bakom Snurrtumlare AB</b>

            <p>
                En solig septembermorgon i 1979 vaknade ett gäng med vänner till liv med en oförklarligt synergisk vision: att förse världen med de bästa propellerkepsarna
                och torktumlare som världen någonsin hade skådat. Denna dröm blev snabbt verklighet - en affärsplan formulerades, investorer kontaktades, och bollen började rulla.
            </p>

            <p>
                Efter några rejäla hundår började företaget gå med vinst och plötsligt var vi bland de första i Sverige med att sälja våra varor på internätet!
                Verksamheten rullade på för fullt (förutom i 2002, när EU förbjöd samtidig försäljning av huvudbonader och vitvaror i ett år) och idag är vi stolta över att
                fortsätta att bära vårt mogna varumärke framåt i cyberrymden. Här nedanför kan du se vilka filurer som jobbar hos oss.
            </p>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="padding: 10px; margin: 20px;">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/pictures/People/armin.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Armin Ljajic</h5>
                    <p class="card-text"><i>CEO</i></p>
                    <p class="card-subtitle">Telefon: 0704521357</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/assets/pictures/People/Miki.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Michael Sava</h5>
                    <p class="card-text"><i>Propeller Hat Designer</i></p>
                    <p class="card-subtitle">Telefon: 0736547898</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/assets/pictures/People/DanielWetSuit.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Daniel Riddersporre</h5>
                    <p class="card-text"><i>Head Honcho</i></p>
                    <p class="card-subtitle">Telefon: 0768794521</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 10px; margin: 20px;">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/assets/pictures/People/fredrik.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fredrik Tvingstedt</h5>
                    <p class="card-text"><i>Business Developer</i></p>
                    <p class="card-subtitle">Telefon: 0702335665</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/assets/pictures/People/christian.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Christian Elm</h5>
                    <p class="card-text"><i>Rubber Duck Debugger</i></p>
                    <p class="card-subtitle">Telefon: 0728746514</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/assets/pictures/People/Super_Robert.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Robert Mayer</h5>
                    <p class="card-text"><i>Mentor/Guru/Pizza Enthusiast</i></p>
                    <p class="card-subtitle">Telefon: 0769951525</p>
                </div>
            </div>
        </div>
    </div>
</div>

