@{
    ViewData["Title"] = "Karriär";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h1 class="pos1">Lediga jobb hos Snurrtumlare AB</h1>

            <p style="margin-left: 12px">
                Se våra lediga tjänster nedan! Du kan också skicka en spontanansökan till oss via <a href="mailto:jobs@snurrtumlare.se">mail. </a> Vi hoppas att höra från dig!
            </p>

        </div>
    </div>
</div>


<br />
<br />



@*Add one*@

<h3><i>Propellerkepsinköpare</i></h3>
<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">

            <h5>Om Tjänsten</h5>

            <p>
                Brinner du för propellerbaserade huvudbonader? Har du erfarenhet av inköp och vill vara en viktig del av Sveriges bästa nätbutik?
                Då kan du vara den vi söker! Snurrtumlare AB är nu i behov av att expandera vårt Supply & Logistics-team.
            </p>

            <p>
                I rollen som propellerkepsinköpare har du ansvar för att kvalitetssäkra och utveckla vårt utbud av roterande hattar.
                Du har regelbunden kontakt med våra leverantörer, och du skickar tisdagspizza till dem varje ojämn tisdag.
                Vissa leverantörer föredrar kebabpizza, vissa gammal hederlig Vesuvio. Det är upp till din intuition att avgöra vilket som är lämpligast.
            </p>

            <p>
                Arbetet börjar när du har lust och du har hur mycket flextid du vill – så länge kepsarna blir inköpta är det lite sak samma.
            </p>
        </div>


        <div class="col-md-6">

            <h5>Önskade Kvalifikationer</h5>

            <ul>
                <li class="list-item">
                    Tidigare erfarenhet av inköpsarbete
                </li>
                <li class="list-item">
                    En glödande passion för aerodynamiskt anpassade mössor med drivande skruv
                </li>
                <li class="list-item">
                    Avslutad grundskoleutbildning
                </li>

            </ul>
            <p>
                Som person är du glupsk, livsklok och trendkänslig. Du tror på att varje problem har en lösning, och du accepterar att vi alla ska dö en dag.
                Tisdagspizza är en självklarhet för dig och du tvekar inte på att ta initiativ till nya toppings. Du är en drömmare, men samtidigt en realist.
            </p>

            <p>
                Det är även meriterande om du vet hur man sätter igång en dator. Vår IT-avdelning består i nuläget av en uppblåsbar dinosaurie i plast och det
                är därför bra om du klarar dig utan support. Kunskaper i sibirisk ryska är ett plus men inte ett krav.
            </p>
        </div>

    </div>
</div>


<!-- Button trigger modal -->
<center>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
        Sök tjänst
    </button>
</center>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Propellerkepsinköpare</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">

                                        <div class="col-6 col-sm-6">

                                            <p>
                                                Leg te Förnamn:<br>
                                                <input type="text" />
                                            </p>

                                            <p>
                                                Leg te Efternamn:<br>
                                                <input type="text" />
                                            </p>

                                            <p>
                                                Leg te E-postadress:<br>
                                                <input type="text" />
                                            </p>

                                            <p>
                                                Leg te Middilande:<br>
                                                <textarea cols="23" rows="6"></textarea>
                                            </p>

                                        </div>

                                        <div class="col-6 col-sm-6">

                                            <p>Haur va som krävs: <input type="checkbox" /></p>

                                            <p>Vill du hau jubbet: <input type="checkbox" /></p>

                                            <div class="form-group">
                                                <label for="start">Nårr vill du börja jubba:</label>

                                                <input type="date" id="start" name="trip-start"
                                                       value="@DateTime.Now.Year"
                                                       min="2018-01-01" max="2025-12-31">
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Skicka</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />



@*Add two*@

<h3><i>Torktumlarteknikerassistent</i></h3>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">

            <h5>Om Tjänsten</h5>

            <p>
                Har du alltid en verktygslåda i bilen? Är du redo för action hela dygnet? Då är jobbet som torktumlarteknikerassistent förmodligen åtminstone lite halvt intressant för dig.
            </p>

            <p>
                Det dagliga arbetet som torktumlarteknikerassistent består i att föra körjournal åt din tilldelade torktumlartekniker, skrika på kunder när de är otrevliga mot dig samt
                att hålla i diverse verktyg i skarpt läge. Du bör även vara förberedd på en del övertidsarbete vid eventuell zombieapokalyps.
            </p>

            <p>
                Arbetet äger rum i Karlstad men kan komma att flyttas till vår filial i Bhutan – inget är permanent (förutom förändring).
            </p>

        </div>

        <div class="col-md-6">

            <h5>Önskade Kvalifikationer</h5>

            <ul>
                <li class="list-item">
                    Utbildning inom torktumlarteknikerassistans
                </li>
                <li class="list-item">
                    Skinn på näsan
                </li>
                <li class="list-item">
                    Betyg från Karlstads Torktumlarteknikerassistentyrkeshögskola
                </li>

            </ul>
            <p>
                För att arbeta som torktumlarteknikerassistent hos oss bör du vara uppdaterad vad gäller ny teknik samt vara en kreativ problemlösare inom ditt område.
                Kunskap om skiftnyckeldiversitet är behjälpligt.
            </p>

            <p>
                Din personlighet är dynamisk – men inte flytande. Du vet vem du är, men är öppen för att göra en radikal personlighetsförändring om det krävs i ditt dagliga arbete.
            </p>

        </div>

    </div>
</div>


<!-- Button trigger modal -->
<center>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
        Sök tjänst
    </button>
</center>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Torktumlarteknikerassistent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">

                                        <div class="col-6 col-sm-6">

                                            <p>
                                                Leg te Förnamn:<br>
                                                <input type="text" />
                                            </p>

                                            <p>
                                                Leg te Efternamn:<br>
                                                <input type="text" />
                                            </p>

                                            <p>
                                                Leg te E-postadress:<br>
                                                <input type="text" />
                                            </p>

                                            <p>
                                                Leg te Middilande:<br>
                                                <textarea cols="23" rows="6"></textarea>
                                            </p>

                                        </div>

                                        <div class="col-6 col-sm-6">

                                            <p>Haur va som krävs: <input type="checkbox" /></p>

                                            <p>Vill du hau jubbet: <input type="checkbox" /></p>

                                            <div class="form-group">
                                                <label for="start">Nårr vill du börja jubba:</label>

                                                <input type="date" id="start" name="trip-start"
                                                       value="@DateTime.Now.Year"
                                                       min="2018-01-01" max="2025-12-31">
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Skicka</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
            </div>
        </div>
    </div>
</div>




<br />
<br />
<br />



@*Add three*@

<h3><i>Smart Device Manager</i></h3>
<div class="container-fluid">

    <div class="row">

        <div class="col-md-6">

            <h5>Om Tjänsten</h5>

            <p>
                Vi söker just nu en teknikkunnig person som kan hjälpa vår VD terrorisera sin fru med hjälp av olika IoT-devices.
            </p>

            <p>
                En arbetsdag består i regel av att konfigurera olika smart devices till att bete sig oförutsägbart. Detta gör du med hjälp av befintlig dokumentation parallellt
                med din egen förmåga att experimentera.
            </p>

            <p>
                Arbetet kommer inledningsvis inte att vara avlönat, men vid god prestation kan detta komma att utvecklas till motsvarigheten av en veckopeng.
                Du jobbar i treskift och måste vara förberedd på en del obekväma situationer med VD:ns familj – frågor om varför lamporna blinkar i takt till
                ”Staying Alive” är exempel på detta.
            </p>

            <p>
                Din arbetsort är inte bestämd ännu, men vi återkommer med besked när du har skrivit på kontraktet.
            </p>
        </div>

        <div class="col-md-6">

            <h5>Önskade Kvalifikationer</h5>

            <ul>
                <li class="list-item">
                    En trasig moralkompass
                </li>

                <li class="list-item">
                    Ett sinne för practical jokes
                </li>

                <li class="list-item">
                    Mopedkörkort
                </li>
            </ul>


            <p>
                Kunskap om Philips Hue och andra ramverk för smart devices är ett krav. Det är även meriterande om du har sysslat med circuit bending eller liknande,
                eftersom tekniken du kommer att arbeta med ofta är byggd för mer vardagliga ändamål.
            </p>

            <p>
                Du är snabblärd, retsam och självständig. För dig är det naturligt att varje dag är unik även om ditt jobb är monotont och du förstår värdet i att
                kunna dyka ned i nya världsåskådningar. Självklart har du även en egen moped.
            </p>

            <p>
                Det är extra meriterande om du samlar på propellerkepsar du är villig att skiljas från eftersom vår VD även vill påbörja några personliga designexperiment.
            </p>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<center>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3">
        Sök tjänst
    </button>
</center>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Smart Device Manager</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">

                                        <div class="col-6 col-sm-6">

                                            <p>
                                                Leg te Förnamn:<br>
                                                <input type="text" />
                                            </p>

                                            <p>
                                                Leg te Efternamn:<br>
                                                <input type="text" />
                                            </p>

                                            <p>
                                                Leg te E-postadress:<br>
                                                <input type="text" />
                                            </p>

                                            <p>
                                                Leg te Middilande:<br>
                                                <textarea cols="23" rows="6"></textarea>
                                            </p>

                                        </div>

                                        <div class="col-6 col-sm-6">

                                            <p>Haur va som krävs: <input type="checkbox" /></p>

                                            <p>Vill du hau jubbet: <input type="checkbox" /></p>

                                            <div class="form-group">
                                                <label for="start">Nårr vill du börja jubba:</label>

                                                <input type="date" id="start" name="trip-start"
                                                       value="@DateTime.Now.Year"
                                                       min="2018-01-01" max="2025-12-31">
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Skicka</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
            </div>
        </div>
    </div>
</div>


<br />
<br />
<br />



<script type="text/javascript">
    $(function () {
                // will trigger when the document is ready
                // Initialise all datepickers whose class name are mydatepicker
                // Display them with a button which containes a small calendar icon.
                $(".mydatepicker")
                    .wrap('＜div class="input-group"＞')
                    .datepicker({
                        dateFormat: "dd.mm.yy",
                        changeYear: true,
                        yearRange: "-70:+0",//year selection is possible from starting 70 years before now
                        showOn: "both"
                    })
                    .next("button").button({
                        icons: { primary: "ui-icon-calendar" },
                        label: "Select Date",
                        text: false
                    })
                    .addClass("btn btn-default")
                    .wrap('＜span class="input-group-btn"＞')
                    .find('.ui-button-text')
                    .css({
                        'visibility': 'hidden',
                        'display': 'inline'
                    });
            });


</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

@*Script to clear/reset modal on close*@

<script type="text/javascript">

    $('#exampleModalCenter1').on('hidden.bs.modal', function () {
        $('#exampleModalCenter1 form')[0].reset();
    });

    $('#exampleModalCenter2').on('hidden.bs.modal', function () {
        $('#exampleModalCenter2 form')[0].reset();
    });

    $('#exampleModalCenter3').on('hidden.bs.modal', function () {
        $('#exampleModalCenter3 form')[0].reset();
    });

</script>

