@{
    ViewData["Title"] = "Karriär";
}

<style>
    table, th, td {
        border: 1px solid black;
        border-spacing: 15px;
        padding: 1%;
    }
</style>

<br>
<b>Lediga jobb hos Snurrtumlare AB</b>
<p>
    Se våra lediga tjänster nedan! Du kan också skicka en spontanansökan till oss via <a href="mailto:jobs@snurrtumlare.se">mail. </a> Vi hoppas att höra från dig!
</p>

<br>
