@{
    ViewData["Title"] = "Kundtjänst";
}

<h1 class="pos1">@ViewData["Title"]</h1>

<style>
    a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: black;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: dodgerblue;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: dodgerblue;
        background-color: transparent;
        text-decoration: underline;
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
            <b>Hej, hur kan vi hjälpa dig?</b>
            <p class="pos3">
                Vårt mål på Snurrtumlare AB är du som kund ska känna dig nöjd!
            </p>
            <b>Reparation och support</b>
            <br>
            <p class="pos3">
                Problem med din produkt? Ofta kan <a href="http://www.torktrumlar-supplier.se" target="_blank">tillverkaren</a> hjälpa dig direkt. Om de inte kan hjälpa, kan du istället kontakt vår kundtjänst.
            </p>
            <b>Spåra din leverans</b>
            <p class="pos3">
                Har du köpt en vara på hemsidan och undrar när den kommer? Spåra din order <a class="cs-link" href="http://www.posten.se" target="_blank">här</a>.
            </p>
            <b>Ångrat ditt köp?</b>
            <br>
            <p class="pos3">
                Du har som kund 7 dagar på dig att ångra ditt köp.
            </p>
            <b>Övriga frågor</b>
            <br>
            <p class="pos3">
                Har du någon annan fråga kontaka oss via; E-post, telefon eller direkt i formuläret.
            </p>



            <b>Kontakta oss via E-post:</b>
            <br>
            <a href="mailto:info@snurrtumlare.se" target="_blank">Info@Snurrtumlare.se</a>
            <br>
            <br>
            <b>Kontakta oss via telefon:</b>

            <p>+46701231234</p>

            <b>Kontakta oss via formulär nedan:</b>
            <br>
            <br>
            <p>
                <left>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
                        Skriv meddelanden
                    </button>
                </left>
            </p>

            <br />



            <br />
        </div>
    </div>
</div>





<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Vad kan vi hjälpa dig med?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">

                                        <div class="col-6 col-sm-12">

                                            <p>
                                                Förnamn:<br>
                                                <input type="text" />
                                            </p>

                                            <p>
                                                Efternamn:<br>
                                                <input type="text" />
                                            </p>

                                            <p>
                                                E-postadress:<br>
                                                <input type="text" />
                                            </p>

                                            <p>
                                                Skriv meddelanden:<br>
                                                <textarea cols="23" rows="12"></textarea>
                                            </p>

                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Skicka</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

@*Script to clear/reset modal on close*@

<script type="text/javascript">

    $('#exampleModalCenter1').on('hidden.bs.modal', function () {
        $('#exampleModalCenter1 form')[0].reset();
    });


</script>

