@{
    ViewData["Title"] = "Kundtjänst";
}

<h1 class="pos1">@ViewData["Title"]</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <br>
            <p>
                <b>Hej, hur kan vi hjälpa dig?</b>
                <br>
                Vårt mål på Snurrtumlare AB är du som kund ska känna dig nöjd!
                <br>
                <br>
                <b>Reparation och support</b>
                <br>
                Problem med din produkt? Ofta kan <a href="http://www.torktrumlar-supplier.se" target="_blank">tillverkaren</a> hjälpa dig direkt. Om de inte kan hjälpa, kan du istället kontakt vår kundtjänst.
            </p>

            <p>
                <b>Spåra din leverans</b>
                <br>
                Har du köpt en vara på hemsidan och undrar när den kommer? Spåra din order <a href="http://www.posten.se" target="_blank">här</a>.
                <br>
                <br>
                <b>Ångrat ditt köp?</b>
                <br>
                Du har som kund 7 dagar på dig att ångra ditt köp.
            </p>
            <p>
                <b>Övriga frågor</b>
                <br>
                Har du någon annan fråga kontaka oss via; E-post, telefon eller direkt i formuläret.
            </p>



            <br>

            <b>Kontakta oss via E-post:</b>
            <p>epostadress@snurrtumlare.se</p>


            <b>Kontakta oss via telefon</b>
            <p>+46701231234<br>Mån-Fre 9.00-17.00 </p>



            <b>Kontakta oss via formulär</b>
            <p>Fyll i informationen nedan</p>


            <br>


            <form id="form" name="form" method="post" action="mailto:epostadress@snurrtumlare.se">

                Förnamn:<br>
                <input type="text" name="fnamn" id="fnamn" /> <br>

                Efternamn:<br>
                <input type="text" name="enamn" id="enamn" /> <br>

                E-postadress:<br>
                <input type="text" name="epost" id="epost" /> <br>

                Meddelande:<br>
<textarea name="meddelande" id="meddelande" cols="23" rows="5"></textarea> <br>

                <input type="submit" name="skicka" id="skicka" value="Skicka meddelandet" />

            </form>

        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>