@{
    ViewData["Title"] = "Allmänna Villkor";
}


<div class="container" style="padding: 20px; margin-bottom: 20px;">
    <h1 class="pos1">Köp- och leveransvillkor</h1>

    <h2>Allmänna villkor</h2>
    <p>
        Snurrtumlare AB, organisationsnummer 5560266-1522 ("Snurrtumlare") driver webbplatsen snurrtumlare.se och därtill hörande sidor ("Webbplatsen").
        Utförliga kontaktuppgifter och övrig information om Snurrtumlare framgår på Webbplatsen. Via webbplatsen kan du dels handla varor och tjänster,
        dels utforska en av internets mörka alléer. Detta är våra köp- och leveransvillkor ("Villkoren"). Nedan följer specifika villkor.
    </p>

    <b>1. Allmänt</b>
    <p>
        Snurrtumlare tar inte ansvar för missbruk av produkter, tjänster eller något som helst i övrigt. Det är alltid kundens ansvar att lösa sina egna problem.
        Särskilda undantag för dessa villkor gäller endast om du som kund ("Kunden") har intyg från mamma eller pappa - annars tillämpas antingen villkoren eller relevant
        lagstiftning. Snurrtumlare förbehåller sig rätten att när som helst ändra Villkoren, skicka fel produkter till kunder eller byta ut hela sortimentet utan förvarning.
    </p>

    <p>
        Vid eventuella tvister mellan Snurrtumlare och Kunden tillkalas Farbror Blå och ärendet överlämnas därhän. Vid frågor om dessa villkor anmodas Kunden att kontakta Snurrtumlare
        via mail, telefon eller röksignaler. 
    </p>

    <b>2. Avtal och Beställning</b>
    <p>
        För att kunna göra ett köp via Webbplatsen måste Kunden acceptera Villkoren. Genom att acceptera Villkoren förbinder sig Kunden att följa Villkoren i sin helhet, 
        samt godkänner att denne tagit del av informationen om personuppgifter och samtyckt till användningen av personuppgifter och cookies enligt Snurrtumlares Integritetspolicy.
    </p>

    <p>
        Ett avtal om köp ingås först när Snurrtumlare bekräftat Kundens beställning och Kunden mottagit orderbekräftelse från Snurrtumlare per e-post. Snurrtumlare uppmanar Kunden att 
        spara denna orderbekräftelse för eventuella kontakter med Snurrtumlares kundtjänst. Kunden kan återkalla sin beställning fram till dess att den bekräftats. 
        Om beställningen återkallas kommer eventuella betalningar som Kunden eller dess betal- eller kreditkortsföretag har gjort avseende beställningen att återbetalas.
    </p>

    <b>3. Priser och betalning</b>
    <p>
        Vid beställning via Webbplatsen gäller de priser som anges på Webbplatsen (dock ej om Snurrtumlare gör en s.k. RPCJFF - Rapid Price Change Just For Fun).
        Priser anges i svenska kronor och är inklusive moms (men ej propellerkepsskatt). Priserna inkluderar inte betalnings- och fraktavgifter då dessa beror på
        aktuella bensinkostnader för våra mopedbud.
    </p>

    <p>
        Kunden kan betala på sätt som anges på Webbplatsen (märk dock att pälsar från sabeltandade tigrar kan användas vid eventuell hyperinflation).
        Snurrtumlare förbehåller sig rätten att inte alltid erbjuda alla betalsätt samt att ändra betalsätt om det som Kunden valt av någon anledning inte 
        fungerar vid tillfället för köpet eller Kunden inte godkänns för det valda betalsättet.
    </p>

    <b>4. Leverans och transport</b>
    <p>
        Kunden kan förvänta sig att varor beställda via Webbplatsen levereras inom max två år, såvida inte produkterna har utgått ur sortimentet. 
        Beställningar levereras antingen personligen till Kunden av ett av våra mopedbud, eller till minst bekvämt förlagda lokala postombud. 
    </p>

    <p>
        Leveransavisering sker normalt genom brevduva, men kan även ske via e-post, snigelpost eller genom ett geografiskt relevant medium. Det är Kundens ansvar
        att se till att försändelsen är i gott skick vid leverans - är paketet trasigt bör det vägras bestämt men inte otrevligt från utlämnaren.
        Vid konflikter kring leverans förbehåller sig Snurrtumlare rätten att återkalla försändelsen på mottagarens bekostnad. 
    </p>

    <b>5. Ångerrätt</b>
    <p>
        Ångerrätt? Vad är det? Glöm det. Köper Kunden en produkt, behåller Kunden produkten. Så enkelt är det. Fast om Kunden verkligen inte gillar produkten
        kan Snurrtumlare eventuellt göra ett undantag om Kunden ber riktigt snällt. I övriga fall säger Snurrtumlare att ångerrätt är trams.
    </p>

    <b>6. Garanti och reklamation</b>
    <p>
        Snurrtumlare AB anser att produkterna som säljs på Webbplatsen är tillräckligt bra för att klara sig utan garanti och möjligheter till reklamation.
        Därför gäller principen "If it's not broken, don't fix it". Om produkter Kunden har köpt på Webbplatsen liväl visar sig innehålla brister ombeds
        kunden ta kontakt med Snurrtumlare direkt för demokratisk diskussion.
    </p>
</div>