@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    h1.pos {
        text-align: center;
        padding: 20px 0px 20px 0px;
    }
</style>
<div >
    <h1 class="pos" style="font-size:300%;">Leveransvillkor</h1>
    
</div>
<div>
    <h3 style="font-size: 150%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
</div>
<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Aenean sed adipiscing diam donec adipiscing. Ac placerat vestibulum lectus mauris ultrices. 
        Convallis convallis tellus id interdum velit laoreet id.
        Et tortor consequat id porta nibh venenatis. Orci ac auctor augue mauris augue. Nunc sed augue lacus viverra vitae congue eu consequat.
        Eget duis at tellus at urna condimentum mattis. Lacus sed turpis tincidunt id aliquet risus feugiat in.
        Congue nisi vitae suscipit tellus mauris a diam maecenas sed. Turpis egestas integer eget aliquet nibh praesent.
        Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc.
        Amet purus gravida quis blandit. Consectetur adipiscing elit duis tristique.
        Amet consectetur adipiscing elit pellentesque habitant.
        Neque vitae tempus quam pellentesque nec nam aliquam sem.
        Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat.
        Morbi non arcu risus quis varius. Duis ultricies lacus sed turpis tincidunt id aliquet.
        Adipiscing vitae proin sagittis nisl rhoncus. Lectus magna fringilla urna porttitor rhoncus dolor purus.
        Vulputate sapien nec sagittis aliquam.
        Sodales ut eu sem integer vitae justo. Vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra.
        Posuere morbi leo urna molestie at elementum. Euismod elementum nisi quis eleifend quam adipiscing.
        Massa tincidunt nunc pulvinar sapien et ligula ullamcorper.
    </p>
</div>