@{
    ViewData["Title"] = "FAQ";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div>
                <h1 class="pos2" style="font-size:300%;">Frequently Asked Questions (FAQ)</h1>

            </div>
            <div>
                <h3 class="pos1" style="font-size: 100%;">Hur returnerar jag en vara?</h3>
                <p class="pos3">
                    Vill du returerar en vara skickar du den i retur till oss. <br>Varan måste vara komplett, ren och oskadd.
                    (Annars kan vi inte sälja den till någon annan, OBS! ingen återbetalning sker.)
                </p>
                <h3 class="pos1" style="font-size: 100%;">Varan kan returneras till vårt returcenter:</h3>
                <p class="pos1">
                    Snurrtumlare AB
                    <br>
                    Bordsvägen 3
                    <br>
                    558 10 Jönköping
                </p>
            </div>
            <div>
                <br>
                <h3 class="pos1" style="font-size: 100%;">Erbjuder ni hemleverans?</h3>
                <p class="pos3">Hemleverans kan absolut ske om personen hämtar varan i vårt lager i Jönköping.<br>Öppettider: mån-tis: 11.15-12.00</p>
            </div>

            <div>
                <h3 class="pos1" style="font-size: 100%;">Hur kommer man i kontakt med en torktumlartekniker?</h3>
                <p class="pos3">Lättast är att ringa eller maila oss, så bokar vi in en telefontid till en tekniker.</p>
            </div>

            <div>
                <h3 class="pos1" style="font-size: 100%;">Jag fick inte rätt produkt, vad gör jag nu?</h3>
                <p class="pos3">Det har hänt oss alla, ta vara på möjligheten att testa något nytt.(Helt gratis, vi tar endast betalt för produkten)</p>
            </div>

            <div>
                <h3 class="pos1" style="font-size: 100%;">Jag har blivit debiterad för mycket, vad gör jag nu?</h3>
                <p class="pos3">Oftast glömmer kunden att priserna är utan propellerkepsskatt, det finns inget vi kan göra åt detta. (Keps-regler)</p>
            </div>

            <div>
                <h3 class="pos1" style="font-size: 100%;">Jag har inte fått min vara?</h3>
                <p class="pos3">Leverans kan ta upp till två år, vänligen acceptera detta.</p>
            </div>


        </div>
    </div>
</div>