@{
    ViewData["Title"] = "Webbutik";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

    In future updates the products will be displayed by the help of a foreach-loop as follows:

    @foreach (var product in Model)
    {
    <ul id="product_list">
    <li id="product_list_item">
    Produktbild
    Produktnamn
    Produktinfo
    Pris
    Button (Lägg i kundvagn)
    Dropdown (Antal)
    </li>
    </ul>
    }
*@
@{
/* model = list of products */
}

@model List<ProductModel>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="products_page_wrapper">
                    @foreach (var product in Model)
                    {
                        <ul id="products_list">
                            <li id="products_list_item">
                                <img id="product_image" src="http://placeimg.com/640/360/any" alt="Produktbild" />
                                <h6 id="product_header">@product.ProductName</h6>
                                <p id="product_description">@product.ProductDescription</p>
                                <p id="product_price">@product.ProductPrice SEK</p>
                                <input type="button" id="products_button_add_to_cart" value="Lägg i varukorg" />
                                <input type="number" id="products_amount_box" value="1" />
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</body>