@model List<Product>

@{
    ViewData["Title"] = "Webbutik";
}

<body>
    <div class="container-fluid">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-3">
                    <ul id="product-list">
                        <li class="product-item">
                            <div class="item-container">
                                <div class="image-container">
                                    <img class="product-image" src="@product.ImageLink" alt="Produktbild" />
                                </div>
                                <div class="product-information-container">
                                    <div class="product-information-header">
                                        <h6 id="product-header">@product.ProductName</h6>
                                    </div>
                                    <div class="product-information-details-1">
                                        <p id="product-description">@product.ProductDescription</p>
                                    </div>
                                    <div class="product-information-details-2">
                                        <h6 id="product-price">@product.ProductPrice SEK</h6>
                                    </div>
                                    <div class="product-information-actions">
                                        <input type="button" id="products_button_add_to_cart" value="Lägg i varukorg" />
                                        <input type="number" id="products_amount_box" value="1" />
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</body>
