@{
    ViewData["Title"] = "Kundvagn";
}

<style>
    #shopping_cart_table {
        width: 100%;
        margin-top: 3%;
    }

    #shopping_cart_product_row {
        border: 1px solid gray;
    }

    #shopping_cart_image {
        float: left;
        border-radius: 180px;
        width: 10%;
        margin: 3%;
    }

    #shopping_cart_button_remove {
        width: 100px;
        height: 40px;
        border-radius: 8%;
        margin-left: 8%;
    }

    #shopping_cart_amount_box {
        width: 15%;
        margin-left: 8%;
    }

    #shopping_cart_cheackout_button {
        background-color: forestgreen;
        width: 13%;
        height: 5%;
        float: right;
        margin: 2%;
        border-radius: 8%;
    }

    #shopping_cart_reset_button {
        background-color: darkred;
        width: 13%;
        height: 5%;
        float: right;
        margin: 2%;
        border-radius: 8%;
    }

    #shopping_cart_button_list_item {
        display: inline;
    }
</style>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <table id="shopping_cart_table">
                    <tr>
                        <th>Produktbeskrivning</th>
                        <th>Pris</th>
                        <td></td>
                    </tr>
                    <tr id="shopping_cart_product_row">
                        <td>
                            <img id="shopping_cart_image" src="http://placeimg.com/640/360/any" alt="Produktbild" />
                            <h6>Produktnamn</h6>
                            <p id="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </td>
                        <td>169 SEK</td>
                        <td>
                            <input type="number" id="shopping_cart_amount_box" value="1" />
                            <button id="shopping_cart_button_remove">Ta bort</button>
                        </td>
                    </tr>
                    <tr id="shopping_cart_product_row">
                        <td>
                            <img id="shopping_cart_image" src="http://placeimg.com/640/360/any" alt="Produktbild" />
                            <h6>Produktnamn</h6>
                            <p id="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </td>
                        <td>169 SEK</td>
                        <td>
                            <input type="number" id="shopping_cart_amount_box" value="1" />
                            <button id="shopping_cart_button_remove">Ta bort</button>
                        </td>
                    </tr>
                    <tr id="shopping_cart_product_row">
                        <td>
                            <img id="shopping_cart_image" src="http://placeimg.com/640/360/any" alt="Produktbild" />
                            <h6>Produktnamn</h6>
                            <p id="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </td>
                        <td>169 SEK</td>
                        <td>
                            <input type="number" id="shopping_cart_amount_box" value="1" />
                            <button id="shopping_cart_button_remove">Ta bort</button>
                        </td>
                    </tr>
                </table>
                <ul>
                    <li id="shopping_cart_button_list_item">
                        <input type="button" id="shopping_cart_reset_button" value="Ta bort kundvagn" />
                    </li>
                    <li id="shopping_cart_button_list_item">
                        <input type="button" id="shopping_cart_cheackout_button" value="Till Kassan" />
                    </li>
                </ul>

            </div>
        </div>
    </div>
</body>