@{
    ViewData["Title"] = "SocialaMedia";
}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="social_media_display">
                    <h2>Besök oss gärna på sociala medier</h2>
                    <ul>
                        <li id="social_list_item"><a href="https://www.facebook.com"><img id="social_image" src="~/assets/icons/facebook.png" /></a></li>
                        <li id="social_list_item"><a href="https://www.instagram.com"><img id="social_image" src="~/assets/icons/instagram.png" /></a></li>
                        <li id="social_list_item"><a href="https://www.linkedin.com"><img id="social_image" src="~/assets/icons/linkedin.png" /></a></li>
                        <li id="social_list_item"><a href="https://www.snapchat.com"><img id="social_image" src="~/assets/icons/snapchat.png" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>