<div>
    <div class="footer_table text-center">
        <ul id="footer_link_list">
            <li id="footer_link_list_item"><a id="footer_link" asp-controller="Home" asp-action="CustomerService">Kundservice</a></li>
            <li id="footer_link_list_item">|</li>
            <li id="footer_link_list_item"><a id="footer_link" asp-controller="Home" asp-action="DeliveryTerms">Leveransvillkor</a></li>
            <li id="footer_link_list_item">|</li>
            <li id="footer_link_list_item"><a id="footer_link" asp-controller="Home" asp-action="SocialMedia">Sociala Medier</a></li>
            <li id="footer_link_list_item">|</li>
            <li id="footer_link_list_item"><a id="footer_link" asp-controller="Home" asp-action="Faq">FAQ</a></li>
        </ul>
    </div>
    <div class="footer_table text-center" style="margin-top: 0px">
        &copy; Snurrtumlare AB, @DateTime.Now.Year
    </div>
</div>